#carrinho {
    visibility:collapse;
    opacity: 0;
    height: 0;
    transition: height 300ms ease-out;
    width: 350px;
    position: absolute;
    top: 87px;
    right: 25px;
    background-color: white;
    border: 0px solid #34675154;
}

#total {
    justify-content: flex-end;
    display: flex;
    border-top: 1px solid #ddd;
    margin: 0 20px;
    padding: 10px 0 0 0;
}

#total-valor {
    margin-left:5px;
    font-weight: bold;
}

#medida {
    display: table;
    visibility: visible;
    margin-bottom:20px;
}

#confirmar-pedido {
    margin-left: 20px;
    background: #C84B31;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: medium;
    border: none;
    width: 228px;
    height: 50px;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    display: inline;
    vertical-align: middle;
}

#carrinho-botao-confirmar {
    justify-content: center;
    display: flex;
    padding: 20px 0;
}

.modal-dialog {
    max-width: 630px; /* New width for default modal */
}

.item {
    margin-left:20px;
    margin-right:20px;
    margin-bottom:30px;
    display: grid;
    grid-template-columns: 22px auto 18px;
    box-shadow: 7px 7px 7px rgba(68, 67, 67, 0.08);
    padding: 10px;
}

.item-numero {
    font-weight: bold;
    color: #346751;
}

.item-produtos {
    display:flex;
    flex-wrap: wrap;
}

.item-produto {
    width: 100%;
}

.item-preco {
    grid-column-start: 1;
    grid-column-end:4;
    font-weight: bold;
    justify-self: flex-end;
}

.btn-delete-produto {
    display:inline;
    color:#346751;
    cursor: pointer;
    font-size: 18px;
    vertical-align: text-bottom;
}

.btn-delete-item {
    justify-self: flex-start;
    color:#346751;
    cursor: pointer;
}

.meia, .txt-produto-inteira {
    vertical-align: top;
}

.label-meia {
    margin-left: 2px;
    font-size:13px;
    font-weight:bold;
    padding: 2px 5px;
    color:white;
    border-radius: 20%;
    background-color: #C84B31;
}

.carrinho-titulo {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.carrinho-dados-cliente {
    display: grid;
    margin-left: 20px;
    border-bottom: 1px solid #ddd;
    margin-right: 20px;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-bottom:20px;
}