{% block content %}
{% load static %}
<style>
  @import url("{% static 'styles/specific/cardapio.css' %}");
</style>
<div style="position: absolute;top: 13px;right: 25px;">
  <a href="javascript://" onclick="toggleCarrinho();">
    <span id="botao-carrinho" class="material-icons" style="font-size: 35px; color: white; background: #346751;padding:12px;border-radius: 50%;">shopping_cart</span>
  </a>
</div>
<div id="setacarrinho" class="d-none" style="position: absolute; top: 72px; right: 40px; width: 0; height: 0; border-left: 15px solid transparent;border-right: 15px solid transparent;border-bottom: 15px solid #34675154;">
</div>

<div id="carrinho" style="display: none;">
  
  <div id="medida">
    
    <h3 class="carrinho-titulo">Confira se o pedido está correto</h3>
    
    <div class="carrinho-dados-cliente">
      <span><span id="nome"></span> <span id="sobrenome"></span></span>
      <span><span id="rua"></span><span id="virgula"></span><span id="numero"></span></span>
      <span id="telefone"></span>
    </div>


    <div id="carrinho-itens">Carregando...</div>
    <div id="carrinho-botao-confirmar">
      <button id="confirmar-pedido" onclick="confirmarPedido();"><span class="material-icons">check</span>confirmar pedido</button>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/specific/cardapio.js' %}"></script>
<script>
    $(document).ready(async function() {
      var cliente = '{{ cliente_selecionado }}';
      if(cliente != null && cliente != '') {
        await selectCustomer(cliente, false);
      }
      showCarregando();
      SELECT_CUSTOMER_TEMPLATE = await ajaxPromise("{% static 'html/cardapio/botao_selecionar_cliente.html' %}");
      ITEM_TEMPLATE = await ajaxPromise("{% static 'html/cardapio/item.html' %}");
      ITEM_CARRINHO_TEMPLATE = await ajaxPromise("{% static 'html/cardapio/item_carrinho.html' %}");
      ITEM_CARRINHO_PRODUTO_TEMPLATE = await ajaxPromise("{% static 'html/cardapio/item_carrinho_produto.html' %}");
      VALOR_TOTAL_TEMPLATE = await ajaxPromise("{% static 'html/cardapio/valor_total.html' %}");
      containerItens = $('#cardapio-items');
      CARREGANDO = containerItens.html();
      trocaTipo('{{ tipo_ativo.id }}');
      hideCarregando();
      iniciaCarrinho();
    });
  
</script>
<div id="texto">
    <p style="margin-top: 20px; margin-bottom: 20px; line-height: 50px; vertical-align: middle;">Selecione os itens do pedido</p>
</div>

<div class="opcoes-cardapio">
    <ul class="tipos">
        {% for tipo in tipos%}
        <li class="tipositem">
            <a href="javascript://" onclick="trocaTipo('{{tipo.id}}');" id="seletor-tipo-{{tipo.id}}">
                {{ tipo.tipo }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="container-pizzas">
    <section class="grid grid-3-columns" id="cardapio-items">Carregando...</section>
</div>

<div class="modal" tabindex="-1" id="modalCarregando"
data-bs-backdrop="static" data-bs-keyboard="false">
<div class="modal-dialog">
  <div class="modal-content">
  Carregando...
  </div>
</div>
</div>

<div class="modal" tabindex="-1" id="modalSelecionarCliente"
data-bs-backdrop="static" data-bs-keyboard="false">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"></h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <iframe src="/clientes/modal" width="600" height="400"></iframe>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    </div>
  </div>
</div>
</div>
{% endblock%}