{% block content %}
{% load static %}
<style>
  @import url("{% static 'styles/specific/cardapio.css' %}");
</style>
<div style="position: absolute;top: 13px;right: 25px;">
  <a href="javascript://" onclick="toggleCarrinho();">
    <span id="botao-carrinho" class="material-icons" style="font-size: 35px; color: white; background: #346751;padding:12px;border-radius: 50%;">shopping_cart</span>
  </a>
</div>
<div id="setacarrinho" class="d-none" style="position: absolute; top: 72px; right: 40px; width: 0; height: 0; border-left: 15px solid transparent;border-right: 15px solid transparent;border-bottom: 15px solid #34675154;">
</div>

<div id="carrinho">
  
  <div id="medida">
    
    <h3 class="carrinho-titulo">Confira se o pedido está correto</h3>
    
    <div class="carrinho-dados-cliente">
      <span>Marcelo Arruda</span>
      <span>Rua da Mooca, 123</span>
      <span>(11) 99858-5565</span>
    </div>


    <div id="carrinho-itens">Carregando...</div>
    <div id="carrinho-botao-confirmar">
      <button id="confirmar-pedido"><span class="material-icons">check</span>confirmar pedido</button>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/specific/cardapio.js' %}"></script>
<script>
    $(document).ready(async function() {
      var cliente = '{{ cliente_selecionado }}';
      if(cliente != null && cliente != '') {
        selectCustomer(cliente);
      }
      ITEM_TEMPLATE = await ajaxPromise("{% static 'html/cardapio/item.html' %}");
      ITEM_CARRINHO_TEMPLATE = await ajaxPromise("{% static 'html/cardapio/item_carrinho.html' %}");
      ITEM_CARRINHO_PRODUTO_TEMPLATE = await ajaxPromise("{% static 'html/cardapio/item_carrinho_produto.html' %}");
      VALOR_TOTAL_TEMPLATE = await ajaxPromise("{% static 'html/cardapio/valor_total.html' %}");
      containerItens = $('#cardapio-items');
      CARREGANDO = containerItens.html();
      trocaTipo('{{ tipo_ativo.id }}');
      carregaCarrinho(
        $.ajax({
            url: '/carrinho/carregar',
            method: 'GET'
        })
      );
    });
  
</script>
<div id="texto">
    <p style="margin-top: 20px; margin-bottom: 20px; line-height: 50px; vertical-align: middle;">Selecione os itens do pedido</p>
</div>

<div class="opcoes-cardapio">
    <ul class="tipos">
        {% for tipo in tipos%}
        <li class="tipositem">
            <a href="javascript://" onclick="trocaTipo('{{tipo.id}}');" id="seletor-tipo-{{tipo.id}}">
                {{ tipo.tipo }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="container-pizzas">
    <section class="grid grid-3-columns" id="cardapio-items">Carregando...</section>
</div>

{% endblock%}