{% block content %}
<div class="botoes">
    <div>
        <button id="botao-add-cliente">
            <span id="botao-add-cliente-icon" class="material-icons">person_add</span>
            <span id="botao-add-cliente-texto">adicionar cliente</span>
        </button>
    </div>
    <div id="botao-pesquisar">
        <span class='material-icons' style="cursor: default">search</span>
        <input id="pesquisacliente" type="search" name="" placeholder="pesquisar cliente">
    </div>
</div>

<div class="cards">
    {% for usuario in usuarios %}
    <div class="card">
        <div class="card-dados-cliente">
            <p style="font-weight: bold;">{{ usuario.nome }} {{ usuario.sobrenome }}</p>
            <p>CPF: {{ usuario.cpf }}</p>
            <p>telefone: {{ usuario.telefone }}</p>
        </div>
        <div style="display: flex; justify-content: end; padding-right: 10px;">
            <button class="botao-clientes">
                <span class="material-icons">delete_outline</span>
                <span class="label-botao-clientes">excluir</span>
            </button>
            <button class="botao-clientes">
                <span class="material-icons">edit</span>
                <span class="label-botao-clientes">editar</span>
            </button>
            <button class="botao-clientes">
                <span class="material-icons">menu_book</span>
                <span class="label-botao-clientes">novo pedido</span>
            </button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock%}

<script>
$(document).ready(
    $("#botao-add-cliente").click(function(e) {
        window.location.href = "/clientes/cadastro";
    })
);
</script>