{% block content %}
<div id="container-clientes-cadastro">
    <form id="form-inserir-cliente" method="post">
        {% csrf_token %}
        <div class="divformgroup">
            <label for="nome" class="labelcadastro">Nome</label>
            <input type="text" name="nome" id="nome" class="textinput" required>
        </div>
        <div class="divformgroup">
            <label for="sobrenome" class="labelcadastro">Sobrenome</label>
            <input type="text" name="sobrenome" id="sobrenome" class="textinput">
        </div>
        <div class="divformgroup">
            <label for="telefone" class="labelcadastro">Telefone</label>
            <input type="text" name="telefone" id="telefone" class="textinput"
             pattern="\(\d{2}\)\s*\d{5}-\d{4}" required>
        </div>
        <div class="divformgroup">
            <label for="cep" class="labelcadastro">Cep</label>
            <input type="text" name="cep" id="cep" class="textinput" required>
        </div>
        <div class="divformgroup">
            <label for="rua" class="labelcadastro">Endereco</label>
            <input type="text" name="rua" id="rua" class="textinput" required>
        </div>
        <div class="divformgroup">
            <label for="numero" class="labelcadastro">Numero</label>
            <input type="text" name="numero" id="numero" class="textinput" required>
        </div>
        <div class="divformgroup">
            <label for="complemento" class="labelcadastro">Complemento</label>
            <input type="text" name="complemento" id="complemento" class="textinput">
        </div>
        <div class="divformgroup">
            <label for="bairro" class="labelcadastro">Bairro</label>
            <input type="text" name="bairro" id="bairro" class="textinput">
        </div>
        <div class="divformgroup">
            <label for="cidade" class="labelcadastro">Cidade</label>
            <input type="text" name="cidade" id="cidade" class="textinput">
        </div>
        <div style="float: right; margin-right: -5px;">
            <button id="botao-add-cliente">
                <span id="botao-add-cliente-icon" class="material-icons">person_add</span>
                <span id="botao-add-cliente-texto">adicionar cliente</span>
            </button>
        </div>
    </form>
</div>
<script>
$(document).ready(function() {
    $("#modalCadastroSucesso").on("hidden.bs.modal", function () {
        window.location.href = "/clientes/";
    });

    function limpa_formulário_cep() {
        // Limpa valores do formulário de cep.
        $("#cep").val("");
        $("#rua").val("");
        $("#bairro").val("");
        $("#cidade").val("");
    }

    function envia_cep(valor) {
        var cep = valor.replace(/\D/g, '');

        //Verifica se campo cep possui valor informado.
        if (cep != "") {

            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

            //Valida o formato do CEP.
            if(validacep.test(cep)) {

                //Preenche os campos com "..." enquanto consulta webservice.
                $("#rua").val("...");
                $("#bairro").val("...");
                $("#cidade").val("...");

                //Consulta o webservice viacep.com.br/
                $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                    if (!("erro" in dados)) {
                        //Atualiza os campos com os valores da consulta.
                        $("#rua").val(dados.logradouro);
                        $("#bairro").val(dados.bairro);
                        $("#cidade").val(dados.localidade);
                    } //end if.
                    else {
                        //CEP pesquisado não foi encontrado.
                        limpa_formulário_cep();
                        alert("CEP não encontrado.");
                    }
                });
            } //end if.
            else {
                //cep é inválido.
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
        } //end if.
        else {
            //cep sem valor, limpa formulário.
            limpa_formulário_cep();
        }
    }

    $("#cep").on('keyup', function(e) {
        if ($(this).val().length == 8) envia_cep($(this).val())
        if ($(this).val().length > 8) {
            $(this).val($(this).val().substring(0,8));
        }
    });

    // $("#cep").blur(function() {
    //     envia_cep($(this).val())
    // });

    const mascaraTelefone = (valor) => {
        valor = valor.replace(/\D/g, "")
        valor = valor.replace(/^(\d{2})(\d)/g, "($1) $2")
        valor = valor.replace(/(\d)(\d{4})$/, "$1-$2")
        return valor
    }

    $("#telefone").on('keyup change', function(e) {
        if ($(this).val().length > 15) {
            $(this).val($(this).val().substring(0,15));
        }
        e.target.value = (mascaraTelefone(e.target.value));
    });

    $("#form-inserir-cliente").submit(function(event) {
        formcontent = $('form').serializeArray();
        formcontent[3].value = formcontent[3].value.replace(/[- )(]/g,'');
        $.ajax({
        url: '/clientes/inserir',
        data: formcontent,
        method: 'POST',
        beforeSend: function(){
            $('#telefone').removeClass("border-bottom border-danger");
            $('#nome').removeClass("border-bottom border-danger");
            $('#cep').removeClass("border-bottom border-danger");
            $('#rua').removeClass("border-bottom border-danger");
            $('#numero').removeClass("border-bottom border-danger");
            let error = []
            if ($("#telefone").val().trim().length==0) {
                alert('Preencha o telefone do cliente!');
                error = [...error, "telefone"];
            }
            if ($("#nome").val().trim().length==0) {
                alert('Preencha o nome do cliente!');
                error = [...error, "nome"];
            }
            if ($("#cep").val().trim().length==0) {
                alert('Preencha o cep do cliente!');
                error = [...error, "cep"];
            }
            if ($("#rua").val().trim().length==0) {
                alert('Preencha o endereco do cliente!');
                error = [...error, "rua"];
            }
            if ($("#numero").val().trim().length==0) {
                alert('Preencha o número do endereço do cliente!');
                error = [...error, "numero"];
            }
            if (error.length > 0) {
                $.each(error, function(index, value){
                    $(`#${value}`).addClass("border-bottom border-danger");
                })
                return false;
            };
        }
        }).done(function(response) {
            if(response.status === 'sucesso') {
                $("#modalCadastroSucesso").modal('show');
            };
            if(response.status === 'duplicado') {
                alert('Já existe um usuário cadastrado com este telefone!');
                $('#telefone').addClass("border-bottom border-danger");
            }
        });
        event.preventDefault();
    });
});

// var myModalEl = document.getElementById('modal')
// myModalEl.addEventListener('hidden.bs.modal', function (event) {
//   alert('fechou modal');
// })

    
</script>

<div class="modal" tabindex="-1" id="modalCadastroSucesso" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Sucesso</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <p>Cliente inserido com sucesso!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="modalCadastroDuplicado" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Sucesso</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <p>Cliente inserido com sucesso!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
{% endblock%}