{% block content %}
<div class="adicionar-clientes">
    <div class="barra-clientes">
        <h2>Pedidos</h2>
    </div>


    <div class="botoes">
        <div><input type="button" value="adicionar cliente" id="botao-add-cliente"></div>
        <div><input type="search" name="" placeholder="pesquisar cliente" id="botao-pesquisar"></div>
    </div>


    <div class="cards">
        <div class="card">
            <p>Marcelo Arrudaa</p>
            <p>CPF: 098345678-98</p>
            <p>Telefone: 11 955781859</p>
            <!-- <input type="button" value="excluir" id="excluir"> -->
            <!-- <input type="button" value="editar" id="editar"> -->
            <!-- <input type="button" value="novo pedido" id="novo-pedido"> -->
        </div>
    </div>
</div>
{% endblock%}