@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

html, body{
    margin: 0 !important;
    background-color: white !important;
    font-family: 'Quicksand', sans-serif !important;

}

h1#titulo-sidebar{
    background-color: #346751;
    color: #FAFAFA ;
    margin-top: 0;
    margin-bottom:0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 24px;
    box-sizing: border-box;
    cursor:default;  
    font-weight: bold;
}


div #titulo h2{
    font-weight: bold;
    font-size: 32px;
    margin-top: 27px;
    margin-left: 20px;
    padding-bottom: 22px;
    border-bottom: 1px solid #ddd;
    cursor:default;  
}

#auxiliar {
    margin-top: 13px;
    float: right;
    display: inline;
}


.app-container{
    display: flex;
    flex-direction: row;
    
}

#clientes, #cardapio, #acompanhar, #logout{
    
    cursor: pointer;
}

.botoes{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 20px;
margin-bottom: 20px;
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    position:fixed!important;
    z-index:1;
    overflow:auto;
    box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.06);
    background-color: #F8F8F8;
}

.app-cards {
    width: auto;

}

.app-card{
    display: grid;
    grid-template-columns: 80% 20%;
    /* flex-direction: row; */
    /* justify-content: start; */
    height: 85px;
    padding: 5px;
    box-shadow: 10px 10px 18px 1px rgba(65, 44, 44, 0.06);
    border-radius: 4px;
    margin-top: 15px;
    margin-left: 20px;
    background-color: #F8F8F8;
    /* align-items: center; */
}

.card-dados-cliente {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 50px;
}

.item-card-dados-cliente {
    width: 30%;
}

/* #excluir, #novo-pedido, #editar{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 40px;
    height: 40px;
    font-size: 8px;
} */

.botao-clientes {
    cursor:pointer;
    background: none;
    border: none;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.label-botao-clientes {
    display: flex;
    margin-top:5px;
    font-size: 11px;
    font-weight: bold;
}

#botao-add-cliente{
    margin-left: 20px;
    background: #C84B31;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: medium;
    border: none;
    width: 228px;
    height: 50px;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    display: inline;
    vertical-align: middle;
}

#botao-add-cliente-texto {
    vertical-align: middle;
}

#botao-add-cliente-icon {
    vertical-align: middle;
    display: inline-block;
}

#botao-pesquisar{
    width: 300px;
    border-radius: 7px;
    border: 1px solid #999;
    outline-color: #C84B31;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 10px;
    margin: 0;
    display: inline-flex;
    vertical-align: middle;
}

#pesquisacliente{
    width: 90%;
    border: none;
    outline: none;
    margin: 0;
    padding-right: 15px;
    text-align: center;
    font-size: medium;
}

#pizza-busca-execute{
    /* margin-left: 20px; */
    background: #C84B31;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: medium;
    border: none;
    width: 50px;
    height: 40px;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    display: inline;
    vertical-align: middle;
}

#botao-pesquisar-cardapio{
    width: 300px;
    height: 50px;
    border-radius: 7px;
    border: 1px solid #999;
    outline-color: #C84B31;
    padding-top: 0px;
    padding-bottom: 11px;
    padding-left: 8px;
    margin-top: 0;
    display: inline-flex;
    /* align-items: center; */
    vertical-align: middle;
}

#icone-busca-cardapio{
    margin-top:13px;
    margin-left: 5px;
}

#pizza-busca {
    width: 85%;
    height: 40px;
    border: none;
    outline: none;
    margin: 0;
    margin-top: 4px;
    padding: 0;
    padding-right: 15px;
    text-align: center;
    font-size: medium;
}

.opcoes-cardapio{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

ul.tipos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-left: -50px;
    margin-top: 20px;
    margin-bottom: 50px;
}

li.tipositem {
    list-style-type: none;
    cursor: pointer;
}

li.tipositem a {
    color: black;
    text-decoration: none;
}

li.tipositem a.selecionado {
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-bottom: #C84B31 2px solid;
}

#texto {
    margin-left: 20px;
    font-weight: bold;
}

.container-pizzas{
    margin-left: 25px;
}

/* a:hover{
    color: #346751;
    transition: 0.5s;
    text-decoration: underline #346751;
} */

.opcoes-cardapio{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.card-pizza{
    /* margin-top: 30px; */
    /* margin-left: 30px; */
    /* flex-direction: column; */
    /* width: 200px; */
    display: grid;
    grid-template-rows: 160px 50px 70px 30px 30px;
    padding-bottom: 20px;
    height: 355px;
    background: #FFFFFF;
    box-shadow: 10px 10px 10px rgba(68, 67, 67, 0.06);
    border-radius: 4px;

}

.sabor-pizza{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    align-self: center;
}

.descricao-pizza{
    text-align: center;
    font-size: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

.valor-pizza{
    display: flex ;
    /* align-items: center; */
    justify-content: space-around;
    margin-bottom: 0;
}

.pizza-mei{
    /* margin-left: 20px; */
    font-weight: bold;
    font-size: 15px;
}

.pizza-int {
    /* margin-left: 65px; */
    font-weight: bold;
    font-size: 15px;
}

.botoes-pizza {
    display: flex;
    justify-content: space-around;
}

.btn-pizza {
    background-color: #C84B31 !important;
    border: none;
    color: white !important;
    font-weight: bold !important;
    width: 80px;
    border-radius: 5px !important;
}

@keyframes dance {
    0% { border: 2px solid #ffa56a; }
    100% { border: none }
}

.btn-pizza:active{
    animation: dance 0.4s ease-in-out;
}

.card-image{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;  
    width: 250px;
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.grid {
	display: grid;
    align-content: start;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.grid-3-columns {
	grid-template-columns: repeat(3, 250px);
    gap: 50px;
}

.textinput {
    border: none;
    outline: none;
    background-color: #FAFAFA;
    border-bottom: 1px solid  #C4C4C4;
}

.labelcadastro {
    display: block;
    color: #888;
    font-size: small;
}

#container-clientes-cadastro {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 10px 10px 18px 1px rgba(65, 44, 44, 0.06);
    border-radius: 4px;
    margin-top: 15px;
    margin-left: 20px;
    background-color: #F8F8F8;
    margin-bottom: 30px;
}
form {
    width: 100%;
}
.divformgroup {
    width: 100%;
    margin-bottom: 25px;
}

.divformgroup input#nome, input#sobrenome, input#telefone,
input#cep, input#rua, input#numero, input#complemento,
input#bairro, input#cidade {
    width: 100%;
    margin-top:10px;
    color: #333;
    font-size: 16px;
    padding-bottom: 5px;
}
